body {
    background-color: aliceblue;
}
.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 255, 255);
    margin-top: 30px;
    padding: 30px;
}

h2 {
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white
}

.boxColorsWrapper {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.boxColors {
    width: 100%;
    height: 30px;
}

;